################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sync/bin/Debug
/Sync/.vs
/Sync/obj/Debug
/Sync/packages
